<%include header%>
<main>
    <main>
        <div class="profile-fisrt">

            <div class="container">
        
                <div class="profile">
        
                    <div class="profile-image">

                        <img src="<%=user.imageUser%>" style="width: 150px; height: 150px;" alt="">
        
                    </div>
        
                    <div class="profile-user-settings">
        
                        <h1 class="profile-user-name"><%=user.fullname%></h1>
        
                        
        
                        
        
                    </div>
        
                    <div class="profile-stats">
        
                        <ul>
                            <li><span class="profile-stat-count">10</span> Sự kiên</li>
                            <li><span class="profile-stat-count">10</span> Tham gia sự kiện</li>
                            <li><span class="profile-stat-count">10</span> Blog</li>
                            <%if(total[0]!= undefined) { %> 
                            <li><span class="profile-stat-count">Tổng tiền đã ủng hộ</span> <%=total[0].total%></li>
                            <% }%>
                           
                        </ul>
        
                    </div>
        
                    <div class="profile-bio">
        
                        <p><span class="profile-real-name">Giới tính: </span> <%=user.sex%></p>
                        <p><span class="profile-real-name">Số điện thoại: </span> <%=user.Numberphone%></p>
                        <p><span class="profile-real-name">Email: </span> <%=user.email%></p>
                        <p><span class="profile-real-name">Ngày sinh: </span> <%=newDate%></p>
                        <p><span class="profile-real-name">Tiểu sử: </span> <%=user.tieusu%></p>
                    </div>
        
                </div>
                <!-- End of profile section -->
        
            </div>
            <!-- End of container -->
        
        </div>

         <!-- Tab links -->
         <div class="container">
      <div class="tabs">
        <button class="tablinks active" data-electronic="allproducts">Tất cả sự kiện</button>
        <button class="tablinks" data-electronic="Microcontrollers">Sự kiện đã tham gia</button>
        <button class="tablinks" data-electronic="module">Blog</button>
     </div>

     <!-- Tab content -->
     <div class="wrapper_tabcontent">
        <div id="allproducts" class="tabcontent active">
          

            <div class="container images-mar">
                <div class="row text-center text-lg-left">
                  <% infevents.forEach(function(infevent){ %>
                  <div class="col-lg-4 col-md-6 col-6 colmargin">
                    <div class="main-ws-sec widget">
                      <div class="posts-section">
                        <div class="post-bar">
                          <div class="post_topbar">
                            <div class="usy-dt">
                              <img
                                src="<%= infevent.imageUser%> " width="50px" height="50px"
                                alt=""
                              />
                              <div class="usy-name">
                                <h3><%= infevent.user_name %></h3>
                                <span
                                  ><img src="images/clock.png" alt="" /><%= infevent.time_post%></span
                                >
                              </div>
                            </div>
                            <div class="ed-opts">
                              <a href="#" title="" class="ed-opts-open"
                                ><i class="la la-ellipsis-v"></i
                              ></a>
                              <ul class="ed-options">
                                <li><a href="#" title="">Lưu trữ</a></li>
                                <li><a href="#" title="">Ẩn sự kiện</a></li>
                               
                              </ul>
                            </div>
                          </div>
                          <div class="epi-sec">
                            <ul class="descp">
          
                              <li>
                                <img src="images/icon9.png" alt="" /><span
                                  ><%= infevent.address_Ward %> <%= infevent.address_District %> <%= infevent.address_City %></span
                                >
                              </li>
                            </ul>
                            
                          </div>
                          <div class="event_descp">
                            <h3><%= infevent.purpose %></h3>
                            <ul class="event-dt">
                              <li><a href="#" title=""><%= infevent.time %> <%= infevent.date %> </a></li>
                              <li><a href="#" title="">Số người tham gia: <%= infevent.Joined_er%></a></li>
                              
                            </ul>
                            <p>
                              Nội dung
                              
                            </p>
                      
                          </div>
                          <div class="event-status-bar">
                            <a href="#"> XEM CHI TIẾT</a>
                           
                          </div>
                        </div>
                        <!--post-bar end-->
                        
                        
                        
                        
                      </div>
                      <!--posts-section end-->
                    </div>
                  </div>
                  <% }) %>
                 
                  
                </div>
              
              </div> 
                
        </div>
        
        <div id="Microcontrollers" class="tabcontent">
            <div class="container images-mar">
                <div class="row text-center text-lg-left">
              
                  <div class="col-lg-4 col-md-6 col-6 colmargin">
                    <div class="main-ws-sec widget">
                      <div class="posts-section">
                        <div class="post-bar">
                          <div class="post_topbar">
                            <div class="usy-dt">
                              <img
                                src="http://via.placeholder.com/50x50"
                                alt=""
                              />
                              <div class="usy-name">
                                <h3>Tên</h3>
                                <span
                                  ><img src="images/clock.png" alt="" />Thời gian đăng</span
                                >
                              </div>
                            </div>
                            <div class="ed-opts">
                              <a href="#" title="" class="ed-opts-open"
                                ><i class="la la-ellipsis-v"></i
                              ></a>
                              <ul class="ed-options">
                                <li><a href="#" title="">Lưu trữ</a></li>
                                <li><a href="#" title="">Ẩn sự kiện</a></li>
                               
                              </ul>
                            </div>
                          </div>
                          <div class="epi-sec">
                            <ul class="descp">
          
                              <li>
                                <img src="images/icon9.png" alt="" /><span
                                  >Địa chỉ</span
                                >
                              </li>
                            </ul>
                            
                          </div>
                          <div class="event_descp">
                            <h3>Tên sự kiện</h3>
                            <ul class="event-dt">
                              <li><a href="#" title="">Thời gian bắt đầu</a></li>
                              <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                              
                            </ul>
                            <p>
                              Nội dung
                              <a href="#" title="">view more</a>
                            </p>
                      
                          </div>
                          <div class="event-status-bar">
                            <a href="#"> XEM CHI TIẾT</a>
                           
                          </div>
                        </div>
                        <!--post-bar end-->
                        
                        
                        
                        
                      </div>
                      <!--posts-section end-->
                    </div>
                  </div>
                  
                 
                  
                </div>
              
              </div>
              <!-- /.container -->
        </div>

        <div id="module" class="tabcontent">
          <div class="container images-mar">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto" style="margin-top:30px">
                    <div class="post-preview">
                      <a href="#">
                        <h2 class="post-title">
                          Tiêu đề
                        </h2>
                        <h3 class="post-subtitle">
                          Mô tả ngắn
                        </h3>
                        <h4 class="post-subtitle">
                          #Danh mục: "Danh mục"
                        </h4>
                      </a>
                      <p class="post-meta">Đăng bởi
                        <a href="#">Full name</a>
                        tại "Thời gian đăng"</p>
                    </div>
                    <hr>
                   
                    
                  </div>
                  <div class="col-lg-8 col-md-10 mx-auto" style="margin-top:30px">
                    <div class="post-preview">
                      <a href="#">
                        <h2 class="post-title">
                          Tiêu đề
                        </h2>
                        <h3 class="post-subtitle">
                          Mô tả ngắn
                        </h3>
                        <h4 class="post-subtitle">
                          #Danh mục: "Danh mục"
                        </h4>
                      </a>
                      <p class="post-meta">Đăng bởi
                        <a href="#">Full name</a>
                        tại "Thời gian đăng"</p>
                    </div>
                    <hr>
                   
                    
                  </div>
            </div>
          
          </div>
          <!-- /.container -->
        </div>
     </div>
         </div>
         

        
    
            <div class="loader"></div>
    
        </div>
        <!-- End of container -->
    
    </main> 
</main>

<%include footer%>