<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SPREAD LOVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
  </head>

  
  <body>
    <!--Modal form login-->
  <div id="exampleModal" class="modal fade" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/login" method="POST">
      
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title h5modal" id="exampleModalLabel">Đăng nhập</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="sign_in_sec current" id="tab-1">
            <form  action="/login" method="POST">
              <div class="row">
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="text" name="uname" placeholder="Tên đăng nhập">
                    <i class="la la-user"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="password" name="psw" placeholder="Mật khẩu">
                    <i class="la la-lock"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="checky-sec">
                    <div class="fgt-sec">
                     
                      <a  href="foget" title="">Quên mật khẩu?</a>
                    </div><!--fgt-sec end-->
                    <a  href="register" title="">Chưa có tài khoản?</a>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd ">
                  <button class="btnlog" type="submit" id="sendUser" value="submit">Đăng nhập</button>
                </div>
              </div>         
            <div class="login-resources">      
            </div><!--login-resources end-->
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
    <div class="wrapper2 ">
      <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="http://localhost:3000/home">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex justify-content-center h-100 navbar-nav mr-auto mar-search">
            <div class="searchbar">
            <form action="/search/post" method="GET">
              <input class="search_input" type="text" name="search" id="search" placeholder="Tìm kiếm ...">
              <button type="submit" class="search_icon registerbtn"><i class="la la-search"></i></button>
            </form>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:3000/home">Trang chủ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/List_event">Chương trình từ thiện</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/news">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/Top-donate">Tấm lòng vàng</a>
              </li>
            
            </ul>
            <form class="form-inline my-2 my-lg-0">

              
                <form action="/logout" method="GET">
                  <div class="user-account">
                    <div class="user-info">
                      <img src="http://via.placeholder.com/30x30" alt="">
                      
                      <i class="la la-sort-down"></i>
                    </div>
                    <div class="user-account-settingss">
                      <h3 class="tc"><a href="http://localhost:3000/setting" title="">Cài đặt</a></h3>
                      <h3 class="tc"><button class="btn" type="http://localhost:3000/submit" title="">Đăng xuất</button></h3>
                    </div><!--user-account-settingss end-->
                  </div>
                </form>
              
            </form>
           
          </div>
        </nav>
      </header>
      <!--header end-->
    </div>
  <main>
   
    <div class=" h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    Thành viên
                </div>
            </div>
            <div class="card-body contacts_body">
                <ui id="users" class="contacts" >
                
                </ui>
            </div>
            <div class="card-footer"></div>
        </div></div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card" >
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src= "https://res.cloudinary.com/share-love/image/upload/v1606900436/avatar/Love_Logo_bftnhz.png">
                            
                        </div>
                        <div class="user_infor">
                            <span id="room-name"><%=title%></span>
                            
                        </div>
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-ban"></i> Rời khỏi nhóm</li>
                        </ul>
                    </div>
                </div>
                
                <div class="card-body msg_card_body" id="div">
                  
                  <% chats.forEach(function(chat){ %>
                    <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="<%= chat.author_url%>" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                              <span class="msg_name"><%= chat.author_name%></span>
                              <%= chat.message%>
                              <span class="msg_time"><%= chat.timeSend%></span>
                            </div>
                        </div>
                  
       <% })%>
       <div class="chat-messages"></div>
              </div>
              
              <form id="chat-form" name="chat-form"  method="POST">
                <div class="card-footer">
                    <div class="input-group">
                      
                        <input
                          class="form-control type_msg"
                          id="msg"
                          name = "msg"
                          type="text"
                          placeholder="Nhập văn bản"
                          form-control type_msg
                          autocomplete="off"
                          
                          
            />
                        <div class="input-group-append">
                          <button class="input-group-text send_btn" id="send_btn" type="button" onClick= "getMess()" > Gửi </button>


                        </div>
                        
                    </div>
                </div></form>
                
            </div>
        </div>
    </div>
</div>
</main>

  
  
</body>
</html>
</body>

<script>
    
const chatForm= document.getElementById('chat-form');
const chatMessage= document.querySelector(".chat-messages");
const roomName = document.getElementById("room-name");
const userList = document.getElementById("users");
const room  = window.location.pathname.split('/')[2];

if(room!==null && room!=="" && room!==undefined){
  //var socket = io("https://spreadlovee.herokuapp.com/" );
  var socket = io("http://localhost:3000")
if(socket!==undefined){
  console.log("Connected to server");

  socket.emit("joinRoom", room);

socket.on('CheckID', function(destination) {
      window.location.href = destination;
});
socket.on("roomUsers", ({users,room}) =>{
   
    outputUsers(users);
});
socket.on("message", message =>{
   outputMessage(message);
chatMessage.scrollTop=chatMessage.scrollHeight;
});
     }
}
function getMess(){
  const msg = document.getElementById('msg').value;
  var form= document.getElementById('chat-form');
  var btnsub = document.getElementById('send_btn');

  socket.emit("chatMessage", ({msg, room}));
  form.addEventListener('click', function submitForm (event) {
 
   event.preventDefault()
   form.reset()
  })
}
function outputMessage(message){
    const div = document.createElement("div");
    div.classList.add("message");
    div.innerHTML = `<div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="${message.image}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                          <span class="msg_name">${message.username}</span>
                          ${message.text}
                          <span class="msg_time">${message.time}</span>
                        </div>
                    </div>`;
    document.querySelector('.chat-messages').appendChild(div);
    
}
function outputRoomName(room){
    roomName.innerText = room;
}
function outputUsers(users){
    userList.innerHTML =`
    ${users.map(user => `<li><div class="d-flex bd-highlight">
                              <div class="img_cont">
                                  <img src="${user.image}" class="rounded-circle user_img">
                              </div>
                              <div class="user_infor">
                                  <span>${user.username}</span>
                              </div>
                          </div></li>`).join('')}`; 
}
$(document).ready(function(){
$('#action_menu_btn').click(function(){
	$('.action_menu').toggle();
});
	});
  $('form input'). keydown(function (e) {
if (e.keyCode == 13) {
  var form= document.getElementById('chat-form');
  getMess()
  form.reset()
  return false
}
})

//scroll at bottom
var atbot = document.getElementById("div");
console.log(atbot);
  atbot.scrollTop = atbot.scrollHeight - atbot.clientHeight;
  
</script>

</html>
<style>
main{
  padding-top:10rem;
  padding-bottom: 5rem;
  background-color: #E9EBEE;
}
.message {
    margin-bottom: 2rem;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    color:#fff;
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(83,214,144,0.9) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
    height: 500px;

 
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(207, 207, 207, 1) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(255, 255, 255, 1) !important;
    border:0 !important;
    color:#000 !important;
    height: 60px !important;
    overflow-y: auto;
    border-radius: 15px 0 0 15px !important;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}

.user_infor{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_infor span{
font-size: 20px;
color: white;
}
.user_infor p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
color: #fff;
padding: 10px;
position: relative;
width: 100%;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_name{
		position: absolute;
		left: 0;
		top: -10px;
		color: rgba(255,255,255,0.5);
    font-size: 15px;
    text-transform: uppercase;
	}
.msg_time{
position: absolute;
left: 0;
bottom: -4px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}


/*NAV BAR*/
.navbar{
	width: 100%;
	
}
.bg-light{
	background-color: #53D690 !important;
}
.navbar-light .navbar-brand { color: #fff; margin: 0 55px 0 50px; }
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link 
{ color: rgba(255, 255, 255); 
}
.login-link{
	color: #fff;
}
.login-link:hover{
	color: rgb(0,0,0);
}
.navbar-light .navbar-nav .nav-link {
	font-size: 100%;
    color: rgba(255, 255, 255);
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0px;
    }

    .search_input{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    width:16rem;
    caret-color:rgb(0, 0, 0);
	line-height: 40px;
	padding: 0 10px;
    
    }
    .searchbar:hover > .search_icon{
    background: #53D690;
	color: #fff;
	
    }

    .search_icon{
	background: #53D690;	
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#fff;
	text-decoration:none;
	position: relative;
  top:-100%;
  border: 1px solid #53D690;
    cursor: pointer;
    }
nav {
	float: left;
	width: 60%;
	text-align: right;
	padding-right: 13px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	padding: 13px 13px;
	position: relative;
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #53D690;
	text-align: left;
	padding: 20px 0 10px 0; 
	opacity: 0;
	visibility: hidden;
	z-index: 99;
}
nav ul ul li {
	padding: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding: 0 20px;
}
nav ul ul li a:hover {
	color: #fff;
}
nav ul ul li a {
	font-size: 16px;
}

nav ul li span {
	display: block;
	height: 14px;
}
nav ul li span img {
	float: none;
}
nav ul li a {
	color: #ffffff;
	font-size: 14px;
}
nav > ul > li > a:hover {
	color: #fff;
}

.user-account {
	float: right;
	width: 110px;
	
	box-sizing: border-box;
	position: relative;
}
.user-info {
	float: left;
	width: 100%;
	padding: 13px 30px;
	position: relative;
}
.user-account-settingss {
	position: absolute;
	top: 100%;
	right: 0;
	width: 240px;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	opacity: 0;
	visibility: hidden;
}
.user-account-settingss.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.user-account-settingss > h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 20px;
}
.dndk p a{
	color: #fff;
}
.dndk p a:hover{
	color: black;
	cursor: pointer;
}
.dropdown-item{
	color: white;
	padding: 15px;
}
.show{
	background-color: #53D690;
}


/* ============ us-links ============= */

.us-links {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}
.us-links li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.us-links li:last-child {
	margin-bottom: 0;
}
.us-links li a {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}
.tc {
	text-align: center;
}
.tc a {
	color: #000;
}
.user-info img {
	margin-right: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.user-info a {
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top: 8px;
}
.user-info a:hover {
	color: #fff;
}
.user-info > i {
	position: absolute;
	top: 51%;
	right: 10px;
	color: #fff;
	font-size: 12px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* ============== tags-sec ============= */

.tags-sec {
	background-color: #fff;
	padding: 25px 5px;
}
.tags-sec ul {
	float: left;
	width: 100%;
	text-align: center;
}
.tags-sec ul li {
	display: inline-block;
	border-right: 1px solid #b2b2b2;
	padding: 0 7px;
	margin-bottom: 15px;
}
.tags-sec ul li:nth-child(3),
.tags-sec ul li:nth-child(5),
.tags-sec ul li:nth-child(8) {
	border-right: 0;
}
.tags-sec ul li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 13px;
	font-weight: 500;
}
.tags-sec ul li a:hover {
	color: #e44d3a;
}
.cp-sec {
	float: left;
	width: 100%;
	margin-top: 5px;
	padding: 0 13px;
}
.cp-sec > img {
	float: left;
	margin-top: 3px;
}
.cp-sec p {
	float: right;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 500;
}
.cp-sec p img {
	float: none;
	display: inline-block;
	position: relative;
	top: 3px;
	padding-right: 5px;
}
.px{
	height: 70px;
}


</style>
