<%include header %>
<main>
    <div>
		<section class="profile-account-setting">
			<div class="container">
				<div class="account-tabs-setting">
					<div class="row">
						<div class="col-lg-3">
							<div class="acc-leftbar">
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
								    <a class="nav-item nav-link active" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="la la-cogs"></i>Cài đặt tài khoản</a>
								    <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Thay đổi mật khẩu</a>
								  </div>
							</div><!--acc-leftbar end-->
						</div>
						<div class="col-lg-9">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
									<div class="acc-setting">
										<h3>Cài đặt tài khoản</h3>
										<form action="/setting" method="POST" enctype="multipart/form-data" >
											<div class="profile-img">
												<div class="avatar" id="avatar">
													<div id="preview"><img src="<%= user.imageUser %>" id="avatar-image" class="avatar_img">
													</div>
													<div class="avatar_upload" >
													<label class="upload_label">Thay đổi
														<input type="file" id="upload" name ='image' >
													</label>
													</div>
												</div>
											</div>
											<div class="cp-field">
												<h5>Tên</h5>
												<div class="cpp-fiel">
													<input type="text" name="fullname" placeholder="Họ và tên" value="<%= user.fullname %>">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<div class="cp-field">
												<h5>Ngày sinh</h5>
												<div class="cpp-fiel">
													<input name="dob" type="date" id = "Date" placeholder="<%=Dob%>" value="<%=Dob%>" fm >
													<i class="fa fa-birthday-cake"></i>
												</div>
											</div>
											<div class="cp-field">
												<h5>Email</h5>
												<div class="cpp-fiel">
													<input type="text" name="email" placeholder="Email" type="email" value="<%= user.email %>">
													<i class="fa fa-envelope"></i>
												</div>
											</div>
											<div class="cp-field">
												<h5>Số điện thoại</h5>
												<div class="cpp-fiel">
													<input type="tel" name="sdt" placeholder="Nhập số điện thoại" value="<%= user.Numberphone %>">
													<i class="fa fa-phone"></i>
												</div>
											</div>
											<div class="cp-field">
												
												<i class="la la-group"></i>
													
														<select name="sex" id="sex" class="cpp-fiel">
															<option value="<%=user.sex%>" selected="-1"><%=user.sex%></option>
															<option value="Nam">Nam</option>
															<option value="Nữ">Nữ</option>
												  </select>
															</div>
													<div class="cp-field">
												<h5>Tiểu sử</h5>
												<div class="cpp-fiel">
													<textarea class="form-control" rows="5" name="story" ><%= user.tieusu %></textarea>
													<i class="fa fa-book"></i>
												</div>
											</div>
											<div class="save-stngs pd2">
												<ul>
													<li><button type="submit">Thay đổi</button></li>
													<li><a href="javascript:history.back()"><button  type="button" href="home" onclick="return confirm('Bạn chắc chắn muốn thoát' )">Thoát</button></a></li>
												</ul>
											</div><!--save-stngs end-->
										</form>
									</div><!--acc-setting end-->
								</div>


								
							  	<div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
							  		<div class="acc-setting">
										<h3>Thay đổi mật khẩu</h3>
										<form action="/setting/password" method ="POST">
											<div class="cp-field">
												<h5>Mật khẩu hiện tại</h5>
												<div class="cpp-fiel">
													<input name="old_password" placeholder="Nhập mật khẩu hiện tại" type="password" autocomplete="off"
													
													>
													<i class="fa fa-lock"></i>
												</div>
											</div>
											<div class="cp-field">
												<h5>Mật khẩu mới</h5>
												<div class="cpp-fiel">
													<input name="new_password" id="new-password" placeholder="Nhập mật khẩu mới" type="password" autocomplete="off"
													pattern="(?=.{6,}"
													oninvalid="setCustomValidity('nhập vào một mật khẩu mạnh, có ít nhất 6 ký tự, có ít nhất một chữ hoa, và có ít nhất một chữ thường')"
													onkeyup='check();'>
													<i class="fa fa-lock"></i>
												</div>
											</div>
											<div class="cp-field">
												<h5>Nhập lại mật khẩu mới</h5>
												<div class="cpp-fiel">
													<input name="new1_password" id="re-password" placeholder="Nhập lại mật khẩu mới" type="password" autocomplete="off"
													pattern="(?=.{6,}" 
													oninvalid="setCustomValidity('nhập vào một mật khẩu mạnh, có ít nhất 6 ký tự, có ít nhất một chữ hoa, và có ít nhất một chữ thường')"
													onkeyup='check();'>
													<i class="fa fa-lock"></i>
													<span id='message'></span>
												</div>
											</div>
											<div class="cp-field">
												<h5><a href="foget" title="">Quên mật khẩu?</a></h5>
											</div>
											<div class="save-stngs pd2">
												<ul>
													<li><button type="submit" id="submit-pass">Lưu thay đổi</button></li>
													<li><a href="javascript:history.back()"><button  type="button" href="home" onclick="return confirm('Bạn chắc chắn muốn thoát' )">Thoát</button></a></li>
												</ul>
											</div><!--save-stngs end-->
										</form>
									</div><!--acc-setting end-->
							  	</div>
							  
							  	
							  	
							</div>
						</div>
					</div>
				</div><!--account-tabs-setting end-->
			</div>
		</section>



		
	</div><!--theme-layout end-->
</main>
<%include footer%>
